# Node
NODE_ENV=development
PORT=3000

# Database
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=5432

# Redis
REDIS_PORT=6379

DATABASE_URL=postgresql://user:password@localhost:5432/learn_it_easy
